AddREProperty/AddREProperty/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "onedriveforbusiness_1_Connection_Name": {
      "type": "string",
      "defaultValue": "onedriveforbusiness"
    },
    "onedriveforbusiness_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Bob@BGTest18.onmicrosoft.com"
    },
    "excelonlinebusiness_1_Connection_Name": {
      "type": "string",
      "defaultValue": "excelonlinebusiness"
    },
    "excelonlinebusiness_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Bob@BGTest18.onmicrosoft.com"
    },
    "bingmaps_1_Connection_Name": {
      "type": "string",
      "defaultValue": "bingmaps"
    },
    "bingmaps_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "BingMaps"
    },
    "bingmaps_1_api_key": {
      "type": "securestring",
      "metadata": {
        "description": "API Key"
      }
    },
    "sharepointonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sharepointonline"
    },
    "sharepointonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Bob@BGTest18.onmicrosoft.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_new_properties_from_spreadsheet": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/drives/@{encodeURIComponent('b!58yCK9045kSQ86EXIrB0ZssRViDYZS9CiMY2H0Q4WiZN81Hm_JR_T7P2MXAIkq4x')}/files/@{encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id'])}/tables/@{encodeURIComponent('NewPurchases')}/items",
                "queries": {
                  "source": "me"
                }
              },
              "runAfter": {}
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Get_new_properties_from_spreadsheet')?['value']",
              "actions": {
                "Get_location_by_address": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['bingmaps']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/REST/v1/Locations",
                    "queries": {
                      "addressLine": "@items('For_each')?['Address']",
                      "locality": "@items('For_each')?['City']",
                      "adminDistrict": "@items('For_each')?['State']",
                      "postalCode": "@items('For_each')?['PostalCode']",
                      "countryRegion": "@items('For_each')?['Country']"
                    }
                  },
                  "runAfter": {}
                },
                "Create_item": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "Title": "@items('For_each')?['Name']",
                      "Latitude": "@body('Get_location_by_address')?['point']['coordinates']['latitude']",
                      "Longitude": "@body('Get_location_by_address')?['point']['coordinates']['longitude']",
                      "WorkAddress": "@items('For_each')?['Address']",
                      "WorkCity": "@items('For_each')?['City']",
                      "WorkState": "@items('For_each')?['State']",
                      "WorkZip": "@items('For_each')?['PostalCode']",
                      "Company": "@items('For_each')?['Unit']",
                      "WorkCountry": "@items('For_each')?['Country']"
                    },
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://bgtest18.sharepoint.com/sites/ApiTest'))}/tables/@{encodeURIComponent(encodeURIComponent('Intake'))}/items"
                  },
                  "runAfter": {
                    "Get_location_by_address": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_new_properties_from_spreadsheet": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_file_is_created": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onnewfile",
                "queries": {
                  "folderId": "01P6MCY2W4EA6W5MF5JNAYGO2MHLEPJDGL",
                  "inferContentType": true
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "metadata": {
                "01P6MCY2W4EA6W5MF5JNAYGO2MHLEPJDGL": "/REPurchases"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "excelonlinebusiness": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonlinebusiness')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('excelonlinebusiness_1_Connection_Name'))]",
                "connectionName": "[parameters('excelonlinebusiness_1_Connection_Name')]"
              },
              "onedriveforbusiness": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_1_Connection_Name'))]",
                "connectionName": "[parameters('onedriveforbusiness_1_Connection_Name')]"
              },
              "bingmaps": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('bingmaps_1_Connection_Name'))]",
                "connectionName": "[parameters('bingmaps_1_Connection_Name')]"
              },
              "sharepointonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('excelonlinebusiness_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('bingmaps_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('onedriveforbusiness_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"
        },
        "displayName": "[parameters('onedriveforbusiness_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('excelonlinebusiness_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonlinebusiness')]"
        },
        "displayName": "[parameters('excelonlinebusiness_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('bingmaps_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]"
        },
        "displayName": "[parameters('bingmaps_1_Connection_DisplayName')]",
        "parameterValues": {
          "api_key": "[parameters('bingmaps_1_api_key')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}